body{
    background-image: url('../images/back.jpg');
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  }

form{
    display: flex;
  justify-content: center;
  align-items: center;
  width: 444px;
  height: 584px;
  margin: auto; 
  background-color: #fff;
  filter: drop-shadow(18px 0 4px rgba(0,0,0,0.52));
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  a{
    text-decoration: none;
  }
 input{
  outline: none;
 }
.header{
  display: flex;
  justify-content: space-between;
  padding: 17px 79px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  filter: drop-shadow(4px 10px 4px rgba(0,0,0,0.25));
  margin-bottom: 54px;
}
.journey-name{
  font-family: ubuntu; 
  font-weight: 700;
  font-size: 22px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
text-transform: uppercase;
transition: ease .3s;
}

.journey-name:hover{
  color: #3CB878;
}
.contact{
  display: flex;
}

.menu{
  display: flex;
}

.vertical-line {
  border-left: 1px solid #FFFFFFE5;;
  height: 19px;
  margin: 3px 26px 0 26px;
  background: #FFFFFFE5;
  opacity: 50%;
}

.icon-header{
  padding-left: 25px;
  color: #FFFFFF;
 }

.icon-header:hover path{
  fill: #3CB878;
  color: #3CB878;
  }

.header-text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  cursor: pointer;
  transition: ease .3s;
  }

.accent-color-2 {
  opacity: 1;
  transition: ease .3s;
  padding-right: 2px;
  padding-left: 2px;
}

.accent-color-2:hover {
  opacity: 0.5;
}

.accent-color {
  transition: all .3s;
  padding-left: 2px;
}

.accent-color:hover {
  color: #01813F;
}

.decor-form {
  width: 18px;
  height: 18px;
  background: #3CB878;
  position: absolute;
  left: 0;
  top: 30px;
}


.sign-login{
  display: flex;
  padding-bottom: 15px;
  padding-top: 15px;
  align-items: baseline;
  justify-content: space-between
}
.signup{
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #434343;
}
.login{
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: #3CB878;
}

.login:hover{
  text-decoration: underline;
  color: #01813F;
}
.facebook{
  padding: 15px 27px 15px 12px;
  font-weight: 400;
  width: 160px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #305DB8;
  border: none;
  border-radius: 4px;
  font-family: 'Ubuntu', sans-serif;
font-size: 16px;
line-height: 16px;
color: #FFFFFF;
margin-right: 6px;
transition: ease .3s;
}

.facebook-line {
  width: 1px;
  height: 28px;
  background: #0A162F;
  opacity: 0.1;
  position: absolute;
  left: 101px;
  top: 76px;
}

.facebook:hover{
  background-color: #022263;
}

.google:hover{
  background-color: #AB1F09;
}

.TermConditions:hover{
  color: #01813F;
}

.create:hover{
  background-color: #01813F;
}

.inputform:focus{
  filter: drop-shadow(8px 0px 3px rgba(0,0,0,0.21));
 }

.google{
  font-weight: 400;
  padding: 15px 27px 15px 12px;
  width: 160px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #DF4A32;
  border: none;
  border-radius: 4px;
  font-family: 'Ubuntu', sans-serif;
 font-size: 16px;
line-height: 16px;
color: #FFFFFF;
transition: ease .3s;
}

.google-line {
  width: 1px;
  height: 28px;
  background: #2B0D09;
  opacity: 0.1;
  position: absolute;
  right: 170px;
  top: 76px;
}

.inputform{
  width: 302px;
  height: 44px;
  border: 1px solid #F2F2F2;
  margin: auto;
  margin-bottom: 15px;
    border-radius: 4px;
    padding-left: 20px;
    color: #434343;
    font-family: ubuntu;
    font-size: 14px;
  line-height: 14px;
  }

.inputform::placeholder {
  color: #BEBEBE;
  font-family: ubuntu;
  font-size: 14px;
line-height: 14px;
}


.inputform1{
  filter: drop-shadow(8px 0px 3px rgba(0,0,0,0.21));
  width: 302px;
  height: 44px;
  border: 1px solid #F2F2F2;
  margin: auto;
  margin-bottom: 15px;
    border-radius: 4px;
    color: #434343;
    font-family: ubuntu;
    font-size: 14px;
  line-height: 14px;
  padding-left: 20px;
}

.inputform1::placeholder {
  color: #434343;
  font-family: ubuntu;
  font-size: 14px;
line-height: 14px;

}

.btn{display: 
  flex;
  padding-bottom: 30px;
}

p{font-family: ubuntu;
  font-size: 14px;
line-height: 14px;
display: inline-block;
}

.inputform2{
  font-family: ubuntu;
  font-size: 14px;
line-height: 14px;
margin-bottom: 20px;
}

.TermConditions{
color: #3CB878;
}

.create{
  font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  background-color: rgba(60, 184, 120, 0.8);
  border: none;
  border-radius: 4px;
  padding: 15px 99px;
  width: 324px; 
  height: 46px;
}

.line-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.line-wrapper hr {
  display: inline-block;
  width: 152px;
  border: none;
  border-top: 1px solid #F2F2F2;
 }

.line-wrapper span {
  display: inline-block;
  font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
  font-weight: 400;
  color: #848484;
}

.dark-form {
  background-color: #333;
  color: #fff;
}